/*        teal      black     light     blue
colors - #75DDDD - #1A1F24 - #8BB5FF - #0f1157 - whitesmoke
*/
:root{
    
    --primary-font-color: #1A1F24;
    --secondary-font-color: #fff;
    --primary-background: whitesmoke;
    --secondary-background: #8BB5FF;
    --brand-color: #0f1157;
    
    --card-background: #1A1F2410;
    --card-border:0.1rem solid #b0c6f0;
    --card-border-radius: 5px;
}

body {
    max-width: 960px;
    margin: 0 auto;
}

main {
    justify-items: center;
    padding: 0.5rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    min-height: 60vh;
}

footer, header {
    padding: 0.5rem;
    font-family: "Dancing Scriptt", sans-serif;
}
header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    border-bottom: 2px solid var(--brand-color);
}
footer {
    background-color: var(--brand-color);
    color: var(--secondary-font-color);
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
}

h1, h2, h3, h4 {
    margin:  1rem;
    font-family: "League Spartan", sans-serif;
}

h1, h2 {
    color: var(--brand-color);
}

button {
    background: var(--secondary-background);
    border: 0.1rem var(--secondary-background) solid;
    border-radius: 0.375rem;
    padding: 0.7rem;
    margin: 0.375rem;
    color: var(--primary-font-color);
}
button:hover {
    background:var(--brand-color);
    border: 0.1rem var(--link-hover-color) solid;
    color: var(--secondary-font-color);
}
/* form styling */
form {
    display: block;
    padding: .5rem 1rem;
    margin: 0 2%;
    width: 92%;
}
form label {
    display: block;
    margin-top: .75rem;
    font-size: .9rem;
    font-weight: 500;
}
.d-flex label {
    margin-top: 0;
}
input[type='text'], 
input[type='date'], 
input[type='number'], 
input[type='email'], 
select,
textarea {
    display: block;
    padding: 14px;
    border-radius: 4px;
    border: 1px solid var(--card-border);
    width: 90% !important;
    max-width: 300px;
}

form button[type='submit'] {
    width: 96%;
    margin: 2rem 2% 0 2%;
}
.text-center {
    text-align: center;
}
.active {
    color: var(--secondary-color);
}

.card {
    background-color: var(--card-background);
    border: var(--card-border) ;
    border-radius: var(--card-border-radius);
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 96%;
    min-width: 300px;
}
.card-header {
    background-color: var(--card-background);
    padding: .5rem 1rem;
    font-size: 1.2rem;
    border-bottom: 2px solid var(--brand-color);
}
.card-body {
    padding: 10px;
    flex-wrap: wrap;
}

.d-flex {
    display: flex !important;
}
.justify-content-around {
    justify-content: space-around;
}
.d-inline {
    display: inline-block !important;
}
.heading-font {
    font-family: 'League Spartan', sans-serif;
    color: var(--brand-color);
    font-size: 2rem;
    font-weight: bold;
}


/* Large screens */
@media screen and (min-width: 576px) {
    header {
        display: flex;
        justify-content: space-around;
    }
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: auto;
    }
    nav a {
        padding: 0 0.5rem;
        border-bottom: 0;
    }
    nav.show {
        display: flex;
    }
    #menu {
        display: none;
    }
    input, select, textarea {
        padding: 12px;
    }
    input[type='text'], 
    input[type='date'], 
    input[type='number'], 
    input[type='email'], 
    select, 
    textarea {
        max-width: 400px;
    }
}